*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    font-family: "Oswald", serif;
    /* border: 1px solid red; */
   
}
.header-app-sidebar-container{
    display: grid;
    grid-template-columns: 300px auto;
}
.header-app-sidebar {
    
 
    /* border: 1px solid red; */
    background-color: #1992D4;
    
}

.app-sidebar {

}

.main-sidebar-header {

}

.main-sidebar-header p{
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    width: 100px;
}

.header-logo {
    text-decoration: none;
}
.main-navbar {
    
}

.main-navbar .container{
    
}

ul{
    list-style: none; 
}

.container ul {
    /* display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px; */
}

.container li{
    padding: 10px 13px;
}

li{
    margin-left: 30px;
    transition: transform 0.4s;
    
}

li svg{
    padding-right: 10px;
}

li a{
    
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
}


li:hover{
    transform: scale(1.1);
}

.main-nabar-logo {
}
.container {
}
.info-wrapper {

}
.info-header {
    display: grid;
    grid-template-rows: 90px 90px ;

    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.info-header-search {
    /* border: 1px solid red; */
}
.img-info-search {
    width: 30px;
    height: 30px;
    transition: transform 0.7s;
}

.img-info-search:hover{
    transform: scale(1.2);
}

.info-search-input {
    height: 30px;
    width: 600px;
    background-color: #E2E8F0;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
}
.info-search-input-js {
}
.info-profile-link {
}
.info-profile-notifly {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.info-profile-notifly:hover{
    animation: tilt-shaking 0.25s infinite;
}

.info-porofile-photo {
    width: 45px;
    height: 45px;
    border:none;
    border-radius: 50px;
    
    background-color: #FACC15;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 20px;
}

.info-porofile-photo img{
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}

.info-profile-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0 20px;
    width: 150px;
}
.info-header-account {
}
.info-header-account-link {
}

.info-header-account-link-container {
   
}

.info-header-account-link-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

button{
    
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #148ecf;
  
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    transition: 0.7s;
}

button:hover{
    background: #95bdd3 ; 
}

.info-header-name {
    font-weight: bold;
    font-size: 18px;
}
.info-header-account-buttons {
}
/* ---------section---------------- */

.section {
    height: 1200px;
    /* border: 1px solid red; */
}
.main-content {
}
.main-content-heading {
    display: grid;
    grid-template-rows: 50px ;
    grid-template-columns: 1000px 300px;
}
.main-content-colums {
    display: grid;
    grid-template-columns: 1000px 500px ;
 
}
.main-content-colums-wrapper {
    display: grid;
    grid-template-columns: 380px 380px ;
    gap: 30px;
    margin: 30px;
}
.main-content-card {
    /* margin: 10px; */
    width: 380px;
    height: 215px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-left: 7px solid #F0B42A;
}

.main-content-card-content p{
    width: 90%;
    color: #737373;
    font-size: 18px;
}
.main-content-card-content {
    margin: 20px;
    
    
}
.main-content-card-item{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;

}

.main-content-card-img{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 20px;
    
}

.main-content-card-img img{
    width: 20px;
    height: 20px;
    transition: transform 0.7s;
}

.main-content-card-img img:hover{
  
    transform: scale(1.4);
}

.main-content-info {
    width: 280px;
    height: 700px;
    margin-top: 10px;
}

.main-content-info-items{
    width: 280px;
    height: 330px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 33px ;
}

.main-content-info-item{
   margin: 6px;
}

.main-content-info-item h5{
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.main-content-info-item p{
    margin-top: 2px;
    color: #737373;
    font-size: 14px;   
}
.main-content-info-head{
    margin: 40px 0 10px;
    font-size: 24px;
    font-weight: 900;
}

.main-content-info-tranding{
    width: 280px;
    height: 280px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px ; */
}

.main-content-info-tranding-content .info-profile-link{
padding: 10px 0 0;

    
}
.main-content-info-tranding-content {
}
.info-profile-link-wrapper {
}
.info-profile-link-name {
}
.info-profile-link-text{
    margin-top: 5px;
    color: #737373;
    font-size: 12px;
}